.custom-navbar{
    background-color: #415A77;
    z-index: 1000;
}

.navbar-brand {
    color: #E0E1DD;
    font-size: 30px;
    font-weight: bold;
    
} 

.navbar-brand:hover {
    color: #E0E1DD;

}

.nav-link{
    
    color: #E0E1DD;
    font-size: 25px;
    
    
}

.navbar-brand{
    color: #E0E1DD;
    font-size: 40px;
    font-weight: bold; 

}

.nav-link.active{
    color: #f4f4f4a9;
    font-weight: bolder;
}

.nav-link:hover{
    color: #E0E1DD;
}

.navbar-toggler {
    border-color: #E0E1DD;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(224, 225, 221, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}